body {
    background-color: bisque;
}

form {
    text-align: center;
}

.container {
    align-items: flex-start;
    width: 50%;
    display: inline-block;  
}

.row {
    display: flex;
    align-items: center;
}

.column {
    flex: 50%;
}

h1 {
    font-family: "Monotype Corsiva" MONACO;
    text-align: center;
    font-weight: 900;
    font-size: 65px;
}

h3 {
    font-family: Palatino Linotype;
    text-align: center;
    font-weight: bold;
}

p {
    font-family: Palatino Linotype;
    text-align: center;
    font-weight: bold;
}

input {
    width: 130px;
}

input[type="radio"] {
    width: 20px;
}

input[type="submit"] {
    text-align: center;
    background-color: #455544;
    font-family: Palatino Linotype;
    font-size: 25px;
    color: #ffffff;
    border-radius: 10px;
}

input[type="submit"]:hover { 
    background-color: #678065;
}

input[type="button"] {
    text-align: center;
    background-color: #3b2730;
    font-family: Palatino Linotype;
    font-size: 15px;
    color: #e5dfe9;
    border-radius: 10px;
}

input[type="button"]:hover { 
    background-color: #774b5f;
}