body {
    background-color: bisque;
    text-align: center;
}

input[type="button"] {
    text-align: center;
    background-color: #ddcfd5;
    font-family: Helvetica;
    padding: 2px;
    font-size: 25px;
    color: #0c0a0e;
    border-radius: 10px;
}