body {
    background-color: bisque;
}

form {
    text-align: center;
}

.container div {
    display: inline-block;
    flex-direction: row;
    justify-content: flex-start;
    padding: 4px;
    width: 300px;
}

h1 {
    font-family: "Monotype Corsiva" MONACO;
    text-align: center;
    font-weight: 900;
    font-size: 65px;
}

h3 {
    font-family: Helvetica;
    text-align: center;
}

h4 {
    font-family: Palatino Linotype;
    text-align: center;
}

input[type="button"] {
    text-align: center;
    background-color: #d479a0;
    font-family: Palatino Linotype;
    font-size: 25px;
    color: #8d4bbf;
    border-radius: 10px;
}